/*******************************
FLEXBOXES
*******************************/

nav {
	display: flex;
	flex-direction: row;
	justify-content: center, space-around;
	align-context: center;
	background-color: gray;
}

#flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

#flex2 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

#flex3 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

/*******************************
GENERAL
*******************************/

a {
text-decoration: none;
}


.buttons {
	background-color: red;
}











