
/*******************************
FLEXBOXES
*******************************/

nav {
  position: static;
  display: block;
  margin-top: 40px;
  padding: 0;
  background: none;
}

nav li {
  position: static;
  display: block;
  left:300px;
  margin-top: 40px;
  padding: 0;


}

#homepage {
  justify-content: flex-start;
}

#flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

#flex2 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

#flex3 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

/*******************************
GENERAL
*******************************/

a {
text-decoration: none;
}

.buttons {
	background-color:#bf1e2e;
	font-size: 1em;
  padding: 20px;
}

#Com {
  width: 150px;
}

#Entre {
  width: 150px;
}

img {
  max-width: 100%;

}

#wrapper {
  max-width: 100%;
  padding:  20px;

}



img.bw { -webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
filter: grayscale(100%);
}

img.bor { 
border-radius: 0px 0px 0px 0px;
-moz-border-radius: 0px 0px 0px 0px;
-webkit-border-radius: 0px 0px 0px 0px;
border: 6px double #404040;
}

/***********************************************
PAGE: HOMEPAGE
************************************************/

#cover {
  background: #bf1e2e;  
}

#white {
  display: block;
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  margin-top: none;

}
 
#caption_up {
  text-transform: uppercase;
  color: white;
  font-size: 58px;
  font-weight: 600;
  text-align: center;
  margin-top: 50px; 
}

#caption_down {
  text-transform: uppercase;
  color: white;
  font-weight: 100;
  font-size: 51px;
  text-align: center;
  margin-top: -35px;
}

#author {
  color: white;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 1px;
  text-align: center;
  margin-top: -20px;
}

/***********************************************
PAGE: STAFF
************************************************/

#flex3 {
  margin:0;
  padding: 0;
  list-style: none;
}

#flex3 li {
  width:20%;
  height:20%;
  margin:2.5%;
  background-color:#f5f5f5;
  color:#bdc3c7;
}

/***********************************************
PAGE: STUDENTS
************************************************/

#flex {
  margin:0;
  padding: 0;
  list-style: none;
}

#flex2 {
  margin:0;
  padding: 0;
  list-style: none;
}

#flex li {
  width:20%;
  height:20%;
  margin:2.5%;
  background-color:#f5f5f5;
  color:#bdc3c7;
}

#flex2 li {
  width:20%;
  height:20%;
  margin:2.5%;
  background-color:#f5f5f5;
  color:#bdc3c7;
}



/*******************************
SUBJECT TAGS 
*******************************/

.subjects {
  margin: 5px;
  padding: 10px;
  width: 100px;
  border: 2px solid;
  border-radius: 8px;
  border: white;
  color: white;

  display: -webkit-inline-flex;
  justify-content: center;
  -webkit-align-content: center;
  -webkit-align-items: center;
  flex-flow: column wrap;
}

/*******************************
LOGO
*******************************/

#red {
  display: block;
  height: 120px;
  width: 120px;
  background-size: 57px 57px;
  position: relative;
  }

 
/***********************************************
  FOOTER
************************************************/

footer {
  font-size: 1em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}









